[user]
	email = thomas.miele@epitech.eu
	name = Thomas Miele
[core]
	editor = vim
[alias]
	st = status
	plog = log --graph --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset -%C(yellow)%d%Creset %s' --abbrev-commit
#plog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
